<div class="centered-content">
    <div class="white-box-signup">

        <h1 class="title has-text-primary">Profile</h1>
        <div style="display: flex; justify-content: center" >
            <figure class="image is-128x128 " >
                <img [src]="this.data.user.imgFile" class="is-rounded" style="max-width: 100%; max-height: 100%;margin: auto;" *ngIf="this.data.user.imgFile">
            </figure>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input [readonly]="true" class="input has-background-light styledText" type="text"
                               placeholder={{this.data.user.fullName}}>
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input [readonly]="true" class="input has-background-light styledText" type="email"
                               placeholder={{this.data.user.email}}>
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input [readonly]="true" class="input has-background-light styledText" type="password"
                               placeholder="********">
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input [readonly]="true" class="input has-background-light styledText" type="number" min="1"
                               value={{this.data.user.tickets}} onkeydown="return false">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <div class="select styledText" style="width: 100%">
                            <select class="styledText has-background-light" style="width: 100%">
                                <option class="styledText">{{this.data.user.type}}</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input [readonly]="true" class="input has-background-light styledText" type="text"
                               placeholder={{this.data.user.contact}}>
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field" style="display: flex; justify-content: space-between">

            <p class="control" >
                <button class="button is-danger has-text-white styledText" [mat-dialog-close]="true">
                    Logout
                </button>
            </p>
            <p class="control"  >
                <button class="button is-success has-text-white styledText" [mat-dialog-close]="false">
                    OK
                </button>
            </p>
        </div>


    </div>
</div>
