<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <div class="top-bar">
                <h1 class="title has-text-primary">
                    Lists
                </h1>

                <div class="dropdown is-left" [ngClass]="{'is-hoverable': activeListId !== undefined}">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4" [disabled]="activeListId === undefined">
                            <span class="icon is-small">
                              <i class="fas fa-cog" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <a [routerLink]="['/editList', activeListId, taskStatus]" class="dropdown-item">
                                Edit
                            </a>
                            <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id,taskStatus? taskStatus: 'new']" [ngClass]="{'is-active': activeListId==list._id}">
                    <p>{{list.title}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white styledText" routerLink="/newList" >
                +New List
            </button>

        </div>

        <div class="task-list-container has-background-light">

            <div class="top-bar">
                <h1 class="title has-text-primary">
                    Tasks
                </h1>
                <figure class="image is-48x48 shadowOnHover" >
                    <img [src]="this.currentUser.imgFile" class="is-rounded" style="max-width: 100%; max-height: 100%;margin: auto;" *ngIf="this.currentUser" (click)="showProfile()">

                </figure>
            </div>



            <div class="task-type-menu" >
                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'New']" [ngClass]="{'is-active': taskStatus=='New', 'linkDisabled':activeListId === undefined }">
                    <p>New</p>
                </a>

                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'Progress']" [ngClass]="{'is-active': taskStatus=='Progress', 'linkDisabled':activeListId === undefined }" >
                    <p>Progress</p>
                </a>

                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'Completed']" [ngClass]="{'is-active': taskStatus=='Completed', 'linkDisabled':activeListId === undefined }">
                    <p>Completed</p>
                </a>
            </div>


            <div class="task" *ngFor="let task of tasks">
                <div class="task-text">
                    <p>{{task.title}}</p>
                    <p style="font-size: 10px;">Due : {{task.due}}</p>
                </div>

                <div class="task-buttons">

                    <button class="button" [routerLink]="['/lists', activeListId, 'editTask', task._id, taskStatus]">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                    </button>

                    <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                        <div class="icon">
                            <i class="fas fa-trash"></i>
                        </div>
                    </button>

                </div>

            </div>

            <button routerLink="./newTask" class="circle-add-button button is-primary" [disabled]="activeListId === undefined">
                <img src="../../../assets/plus-icon.svg" class="has-text-white">
            </button>

        </div>

    </div>
</div>
