<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id, 'progress']" [ngClass]="{'is-active': activeListId==list._id}">
                    <p>{{list.title}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white styledText" routerLink="/newList" >
                +New List
            </button>

        </div>

        <div class="task-list-container has-background-light">

            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <div class="task-type-menu" >
                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'new']" [ngClass]="{'is-active': taskStatus=='new', 'linkDisabled':activeListId === undefined }">
                    <p>New</p>
                </a>

                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'progress']" [ngClass]="{'is-active': taskStatus=='progress', 'linkDisabled':activeListId === undefined }" >
                    <p>Progress</p>
                </a>

                <a class="task-menu-item" [routerLink]="['/lists',activeListId,'completed']" [ngClass]="{'is-active': taskStatus=='completed', 'linkDisabled':activeListId === undefined }">
                    <p>Completed</p>
                </a>
            </div>


            <div class="task" *ngFor="let task of tasks">
                <p>{{task.title}}</p>
            </div>

            <button routerLink="./newTask" class="circle-add-button button is-primary" [disabled]="activeListId === undefined">
                <img src="../../../assets/plus-icon.svg" class="has-text-white">
            </button>

        </div>

    </div>
</div>
