<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new Task
        </h1>

        <input #taskTitleInput class="input has-background-light is-medium styledText" type="text" placeholder="Enter task name...">
        <br><br>

        <p class="styledText">Pick Due Date</p>
        <input #dueDateInput class="input styledText" type="date" [ngModel]="minDate" min="{{minDate}}" onkeydown="return false" (change)="onDueDateChange(dueDateInput.value)">

        <br><br>
        <p class="styledText">Select status</p>
        <div class="select styledText">
            <select class="styledText" #typeInput (change)="onTypeChange(typeInput.value)">
                <option class="styledText">New</option>
                <option class="styledText">Progress</option>
                <option class="styledText">Completed</option>
            </select>
        </div>

        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" [routerLink]="['/lists', listId, status]">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="updateTask(taskTitleInput.value)">
                Create
            </button>
        </div>


    </div>
</div>
